a {
  text-decoration: none;
}

:root {
  --space-0: 0px;
  --space-1: 1px;
  --space-025: 2px;
  --space-050: 4px;
  --space-075: 6px;
  --space-100: 8px;
  --space-125: 10px;
  --space-150: 12px;
  --space-175: 14px;
  --space-200: 16px;
  --space-225: 18px;
  --space-250: 20px;
  --space-275: 22px;
  --space-300: 24px;
  --space-325: 26px;
  --space-350: 28px;
  --space-375: 30px;
  --space-400: 32px;
  --space-425: 34px;
  --space-450: 36px;
  --space-475: 38px;
  --space-500: 40px;
  --space-525: 42px;
  --space-550: 44px;
  --space-575: 46px;
  --space-600: 48px;
  --space-625: 50px;
  --space-650: 52px;
  --space-675: 54px;
  --space-700: 56px;
  --space-725: 58px;
  --space-750: 60px;
  --space-775: 62px;
  --space-800: 64px;
  --space-825: 66px;
  --space-850: 68px;
  --space-875: 70px;
  --space-900: 72px;
  --space-925: 74px;
  --space-950: 76px;
  --space-975: 78px;
  --space-1000: 80px;
  --space-1025: 82px;
  --space-1050: 84px;
  --space-1075: 86px;
  --space-1100: 88px;
  --space-1125: 90px;
  --space-1150: 92px;
  --space-1175: 94px;
  --space-1200: 96px;
  --space-1225: 98px;
  --space-1250: 100px;
  --space-1275: 102px;
  --space-1300: 104px;
  --space-1325: 106px;
  --space-1350: 108px;
  --space-1375: 110px;
  --space-1400: 112px;
  --space-1425: 114px;
  --space-1450: 116px;
  --space-1475: 118px;
  --space-1500: 120px;
  --space-1525: 122px;
  --space-1550: 124px;
  --space-1575: 126px;
  --space-1600: 128px;
  --space-1625: 130px;
  --space-1650: 132px;
  --space-1675: 134px;
  --space-1700: 136px;
  --space-1725: 138px;
  --space-1750: 140px;
  --space-1775: 142px;
  --space-1800: 144px;
  --space-1825: 146px;
  --space-1850: 148px;
  --space-1875: 150px;
  --space-1900: 152px;
  --space-1925: 154px;
  --space-1950: 156px;
  --space-1975: 158px;
  --space-2000: 160px;
  --space-2250: 180px;
  --space-2500: 200px;
  --space-2750: 220px;
  --space-3000: 240px;
  --space-3250: 260px;
  --space-3500: 280px;
  --space-3750: 300px;
  --space-4000: 320px;
}

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --transparent: rgba(255, 255, 255, 0);
}

/*PRIMITIVE*/

:root {
  --dublin-50: rgb(240, 253, 241);
  --dublin-100: rgb(220, 252, 223);
  --dublin-200: rgb(187, 247, 194);
  --dublin-300: rgb(134, 239, 147);
  --dublin-400: rgb(60, 220, 80);
  --dublin-500: rgb(34, 197, 55);
  --dublin-600: rgb(22, 163, 40);
  --dublin-700: rgb(21, 128, 35);
  --dublin-800: rgb(22, 101, 33);
  --dublin-900: rgb(20, 83, 30);
  --dublin-950: rgb(5, 46, 12);

  --greys-50: rgb(250, 250, 250);
  --greys-100: rgb(245, 245, 245);
  --greys-200: rgb(220, 220, 220);
  --greys-300: rgb(189, 189, 189);
  --greys-400: rgb(152, 152, 152);
  --greys-500: rgb(124, 124, 124);
  --greys-600: rgb(101, 101, 101);
  --greys-700: rgb(82, 82, 82);
  --greys-800: rgb(70, 70, 70);
  --greys-900: rgb(61, 61, 61);
  --greys-950: rgb(41, 41, 41);

  --kyoto-50: rgb(255, 241, 241);
  --kyoto-100: rgb(255, 224, 224);
  --kyoto-200: rgb(255, 199, 199);
  --kyoto-300: rgb(255, 160, 160);
  --kyoto-400: rgb(255, 105, 105);
  --kyoto-500: rgb(250, 80, 80);
  --kyoto-600: rgb(231, 27, 27);
  --kyoto-700: rgb(195, 18, 18);
  --kyoto-800: rgb(161, 19, 19);
  --kyoto-900: rgb(161, 19, 19);
  --kyoto-950: rgb(133, 23, 23);

  --taxes-50: rgb(255, 254, 234);
  --taxes-100: rgb(255, 249, 197);
  --taxes-200: rgb(255, 243, 133);
  --taxes-300: rgb(255, 230, 70);
  --taxes-400: rgb(255, 214, 27);
  --taxes-500: rgb(255, 181, 0);
  --taxes-600: rgb(226, 138, 0);
  --taxes-700: rgb(187, 97, 2);
  --taxes-800: rgb(152, 75, 8);
  --taxes-900: rgb(124, 61, 11);
  --taxes-950: rgb(72, 31, 0);

  --toronto-50: rgb(242, 249, 253);
  --toronto-100: rgb(229, 241, 249);
  --toronto-200: rgb(197, 227, 242);
  --toronto-300: rgb(140, 200, 230);
  --toronto-400: rgb(87, 176, 217);
  --toronto-500: rgb(50, 162, 197);
  --toronto-600: rgb(34, 145, 167);
  --toronto-700: rgb(29, 118, 135);
  --toronto-800: rgb(28, 104, 112);
  --toronto-900: rgb(27, 88, 91);
  --toronto-950: rgb(23, 64, 65);

  --tyre-50: rgb(255, 243, 254);
  --tyre-100: rgb(254, 230, 255);
  --tyre-200: rgb(255, 204, 255);
  --tyre-300: rgb(255, 163, 253);
  --tyre-400: rgb(255, 109, 250);
  --tyre-500: #ff22ff;
  --tyre-600: rgb(227, 22, 222);
  --tyre-700: rgb(189, 14, 182);
  --tyre-800: rgb(154, 14, 147);
  --tyre-900: rgb(126, 17, 118);
  --tyre-950: rgb(85, 0, 79);
}

/*SEMANTIC*/
:root {
  --background-primary: var(--white);
  --background-secondary: var(--greys-100);
  --background-ternitary: var(--greys-200);

  --e-1-ambient: rgba(41, 41, 41, 0.04);
  --e-1-key: rgba(61, 61, 61, 0.08);
  --e-2-ambient: rgba(41, 41, 41, 0.08);
  --e-2-key: rgba(61, 61, 61, 0.12);
  --e-3-ambient: rgba(41, 41, 41, 0.1);
  --e-3-key: rgba(61, 61, 61, 0.14);

  --radius-none: 0px;
  --radius-x-small: var(--space-1);
  --radius-small: var(--space-050);
  --radius-medium: var(--space-075);
  --radius-large: var(--space-100);
  --radius-x-large: var(--space-150);
  --radius-max: 9999px;

  --foreground-dublin-disabled: var(--dublin-200);
  --foreground-dublin-focus: var(--dublin-300);
  --foreground-dublin-hover: var(--dublin-300);
  --foreground-dublin-rest: var(--dublin-400);

  --foreground-inverted-primary-disabled: var(--greys-700);
  --foreground-inverted-primary-focus: var(--greys-900);
  --foreground-inverted-primary-hover: var(--greys-900);
  --foreground-inverted-primary-rest: var(--greys-950);

  --foreground-kyoto-disabled: var(--kyoto-200);
  --foreground-kyoto-focus: var(--kyoto-400);
  --foreground-kyoto-hover: var(--kyoto-400);
  --foreground-kyoto-rest: var(--kyoto-500);

  --foreground-primary-disabled: var(--greys-100);
  --foreground-primary-focus: var(--greys-50);
  --foreground-primary-hover: var(--greys-50);
  --foreground-primary-rest: var(--white);

  --foreground-secondary-disabled: var(--greys-100);
  --foreground-secondary-focus: var(--greys-050);
  --foreground-secondary-hover: var(--greys-050);
  --foreground-secondary-rest: var(--greys-200);

  --foreground-texas-disabled: var(--texas-50);
  --foreground-texas-focus: var(--texas-100);
  --foreground-texas-hover: var(--texas-100);
  --foreground-texas-rest: var(--texas-200);

  --foreground-toronto-disabled: var(--toronto-200);
  --foreground-toronto-focus: var(--toronto-300);
  --foreground-toronto-hover: var(--toronto-300);
  --foreground-toronto-rest: var(--toronto-400);

  --foreground-tyre-disabled: var(--tyre-200);
  --foreground-tyre-focus: var(--tyre-300);
  --foreground-tyre-hover: var(--tyre-300);
  --foreground-tyre-rest: var(--tyre-500);

  --stroke-dublin-disabled: var(--dublin-200);
  --stroke-dublin-focus: var(--dublin-600);
  --stroke-dublin-hover: var(--dublin-300);
  --stroke-dublin-rest: var(--dublin-400);

  --stroke-kyoto-disabled: var(--kyoto-100);
  --stroke-kyoto-focus: var(--kyoto-700);
  --stroke-kyoto-hover: var(--kyoto-200);
  --stroke-kyoto-rest: var(--kyoto-500);

  --stroke-primary-disabled: var(--greys-200);
  --stroke-primary-focus: var(--greys-950);
  --stroke-primary-hover: var(--greys-400);
  --stroke-primary-rest: var(--greys-950);

  --stroke-texas-disabled: var(--texas-50);
  --stroke-texas-focus: var(--texas-400);
  --stroke-texas-hover: var(--texas-100);
  --stroke-texas-rest: var(--texas-200);

  --stroke-toronto-disabled: var(--toronto-100);
  --stroke-toronto-focus: var(--toronto-600);
  --stroke-toronto-hover: var(--toronto-300);
  --stroke-toronto-rest: var(--toronto-400);

  --text-dublin-primary: var(--dublin-400);
  --text-dublin-secondary: var(--dublin-300);

  --text-inverted-primary: var(--white);
  --text-inverted-secondary: var(--greys-200);

  --text-kyoto-primary: var(--kyoto-500);
  --text-kyoto-secondary: var(--kyoto-300);

  --text-primary: var(--greys-950);
  --text-secondary: var(--greys-500);

  --text-texas-primary: var(--texas-300);
  --text-texas-secondary: var(--texas-200);

  --text-toronto-primary: var(--toronto-400);
  --text-toronto-secondary: var(--toronto-300);

  --text-tyre-primary: var(--tyre-500);
  --text-tyre-secondary: var(--tyre-200);
}

/* TEXTS */

:root {
  --fontsize-display: var(--space-4000);
  --fontsize-h1: var(--space-1000);
  --fontsize-h2: var(--space-700);
  --fontsize-h3: var(--space-500);
  --fontsize-h4: var(--space-350);
  --fontsize-body: var(--space-250);
  --fontsize-label: var(--space-150);

  --lineheight-display: var(--space-4000);
  --lineheight-h1: var(--space-900);
  --lineheight-h2: var(--space-675);
  --lineheight-h3: var(--space-500);
  --lineheight-h4: var(--space-350);
  --lineheight-body: var(--space-275);
  --lineheight-label: var(--space-175);
}

/* Before Mobile */
@media (max-width: 392px) {
  :root {
    --fontsize-display: 10.88rem;
    --fontsize-h1: 2.72rem;
    --fontsize-h2: 1.9rem;
    --fontsize-h3: 1.36rem;
    --fontsize-h4: 0.95rem;
    --fontsize-body: 0.68rem;
    --fontsize-label: 0.41rem;

    --lineheight-display: 10.88rem;
    --lineheight-h1: 2.45rem;
    --lineheight-h2: 1.84rem;
    --lineheight-h3: 1.36rem;
    --lineheight-h4: 0.95rem;
    --lineheight-body: 0.75rem;
    --lineheight-label: 0.41rem;
  }
}

/* Mobile */
@media (min-width: 393px) and (max-width: 833px) {
  .hero-events {
    display: none !important;
  }

  :root {
    --fontsize-display: var(--space-1700);
    --fontsize-h1: var(--space-425);
    --fontsize-h2: var(--space-350);
    --fontsize-h3: var(--space-275);
    --fontsize-h4: var(--space-225);
    --fontsize-body: var(--space-175);
    --fontsize-label: var(--space-150);

    --lineheight-display: var(--space-1700);
    --lineheight-h1: var(--space-375);
    --lineheight-h2: var(--space-325);
    --lineheight-h3: var(--space-275);
    --lineheight-h4: var(--space-225);
    --lineheight-body: var(--space-200);
    --lineheight-label: var(--space-150);
  }
}

/* Tablet */
@media (min-width: 834px) and (max-width: 1279px) {
  :root {
    --fontsize-display: var(--space-2500);
    --fontsize-h1: var(--space-625);
    --fontsize-h2: var(--space-475);
    --fontsize-h3: var(--space-350);
    --fontsize-h4: var(--space-275);
    --fontsize-body: var(--space-200);
    --fontsize-label: var(--space-150);

    --lineheight-display: var(--space-2500);
    --lineheight-h1: var(--space-550);
    --lineheight-h2: var(--space-450);
    --lineheight-h3: var(--space-350);
    --lineheight-h4: var(--space-275);
    --lineheight-body: var(--space-225);
    --lineheight-label: var(--space-150);
  }
}

/* Laptop */
@media (min-width: 1280px) and (max-width: 1919px) {
  :root {
    --fontsize-display: var(--space-2750);
    --fontsize-h1: var(--space-700);
    --fontsize-h2: var(--space-525);
    --fontsize-h3: var(--space-400);
    --fontsize-h4: var(--space-300);
    --fontsize-body: var(--space-225);
    --fontsize-label: var(--space-175);

    --lineheight-display: var(--space-2750);
    --lineheight-h1: var(--space-625);
    --lineheight-h2: var(--space-500);
    --lineheight-h3: var(--space-400);
    --lineheight-h4: var(--space-300);
    --lineheight-body: var(--space-250);
    --lineheight-label: var(--space-175);
  }
}

/* Desktop */
@media (min-width: 1920px) and (max-width: 2559px) {
  :root {
    --fontsize-display: var(--space-4000);
    --fontsize-h1: var(--space-1000);
    --fontsize-h2: var(--space-700);
    --fontsize-h3: var(--space-500);
    --fontsize-h4: var(--space-350);
    --fontsize-body: var(--space-250);
    --fontsize-label: var(--space-175);

    --lineheight-display: var(--space-4000);
    --lineheight-h1: var(--space-900);
    --lineheight-h2: var(--space-675);
    --lineheight-h3: var(--space-500);
    --lineheight-h4: var(--space-350);
    --lineheight-body: var(--space-275);
    --lineheight-label: var(--space-175);
  }
}

/* After Desktop */
@media (min-width: 2560px) {
  :root {
    --fontsize-display: 13.6rem;
    --fontsize-h1: 3.4rem;
    --fontsize-h2: 2.38rem;
    --fontsize-h3: 1.7rem;
    --fontsize-h4: 1.19rem;
    --fontsize-body: 0.85rem;
    --fontsize-label: 0.595rem;

    --lineheight-display: 13.6rem;
    --lineheight-h1: 3.06rem;
    --lineheight-h2: 2.3rem;
    --lineheight-h3: 1.7rem;
    --lineheight-h4: 1.19rem;
    --lineheight-body: 0.93rem;
    --lineheight-label: 0.595rem;
  }
}
